<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title>Pokedex</title>
  </head>
  <body>
    <div class="jumbotron">
      <img class="title" src="/images/pokemonTitle.png"/>
    </div>
    <div class="container">
      <div class="row">
      {% for pokemon in pokemons %}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img class="pokemon" src="{{ pokemon.getImagePath }}"/>
            <div class="caption">
              <h3>{{ pokemon.getName }}</h3>
              <p>Dex Number: {{ pokemon.getDexNumber }}</p>
              <p><a href="/types" class="btn btn-primary" role="button">Show more</a>
            </div>
          </div>
        </div>

      </div>

          <!-- <li>Name: {{ pokemon.getName }}</li>
          {% for type in pokemon.getTypes %}
            Type: {{ type.getName }}<br>
          Weak against: {{ type.getWeakness }}<br>
          Strong against: {{ type.getStrength }}<br>
          {% endfor %}
            <li>Dex Number: {{ pokemon.getDexNumber }}</li>
            <li>Size: {{ pokemon.getHeightFeet }} ft {{ pokemon.HeightInches}} inches</li>
            <li>Weight: {{ pokemon.getWeight }} pounds</li>
            <img class="pokemon" src="{{ pokemon.getImagePath }}"/><br> -->
        {% endfor %}

    </div>
  </body>
</html>
