<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title>Pokedex</title>
  </head>
  <body>
    {% if pokemons is not empty %}
      <ul>
        {% for pokemon in pokemons %}
          <li>{{ pokemon.getName }}</li>
          <ul>
            <li>{{ pokemon.getDexNumber }}</li>
            <li>{{ pokemon.getHeightFeet }} ft {{ pokemon.HeightInches}} inches</li>
            <li>{{ pokemon.getWeight }}</li>
            <li><img src="{{ pokemon.getImagePath }}"/></li>
          </ul>
        {% endfor %}
    {% endif %}
  </body>
</html>
