<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title>Pokedex</title>
  </head>
  <body>
    {% if pokemons is not empty %}
      <ul>
        {% for pokemon in pokemons %}
          <li>Name: {{ pokemon.getName }}</li>
          {% for type in pokemon.getTypes %}
            Type: {{ type.getName }}<br>
          Weak against: {{ type.getWeakness }}<br>
          Strong against: {{ type.getStrength }}<br>
          {% endfor %}
            <li>Dex Number: {{ pokemon.getDexNumber }}</li>
            <li>Size: {{ pokemon.getHeightFeet }} ft {{ pokemon.HeightInches}} inches</li>
            <li>Weight: {{ pokemon.getWeight }} pounds</li>
            <img class="pokemon" src="{{ pokemon.getImagePath }}"/><br>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
