<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title>Pokedex</title>
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top" toll="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="/images/pokemonTitle.png" class="pokelogo">
          </a>
        </div>
        <div>
          <ul class = "nav navbar-nav navbar-right extra-link">
            <li><a href="/types">Types</a></li>
            <li><a href="/pokemon_all">Pokemon</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container">

        <h1 class="type-item">{{ type.getName }}</a></h1>
        <li class="type-item"><span class="bold">Strong Against:</span> {{ type.getStrength }}</li>
        <li class="type-item"><span class="bold">Weak Against:</span> {{ type.getWeakness }}</li>
        {% for pokemon in type.getPokemon %}
            <h3><a href="/pokemon/{{ pokemon.getId }}">{{ pokemon.getName }}</a></h3>
            <img src='{{ pokemon.getImagePath }}' class="pokemon"/>
          {% endfor %}
    </div>
  </body>
</html>
