<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title>Pokedex</title>
  </head>
  <body>
    <!--Navbar-->
    {% include '/includes/navbar.html.twig' %}
    <!-- End Navbar -->
    <div class="container">
        <img class="title_img" src="{{ type.getImg_path }}"/>
        <li class="type-item"><h3><span class="bold">Strong Against:</span> {{ type.getStrength }}</h3></li>
        <li class="type-item"><h3><span class="bold">Weak Against:</span> {{ type.getWeakness }}</h3></li>
        <div class="pokemon-list">
        {% for pokemon in type.getPokemon %}
        <div>
          <a href="/pokemon/{{ pokemon.getId }}">
            <h3>{{ pokemon.getName }}</h3>
            <div class="pokemon-image"><img src='{{ pokemon.getImagePath }}' class="pokemon_pic"/></div>
          </a>
        </div>
        {% endfor %}
        </div>
    </div>
  </body>
</html>
