<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title></title>
  </head>
  <body>
    <!--Navbar-->
    {% include '/includes/navbar.html.twig' %}
    <!-- End Navbar -->
    <div class="container">
      <h1 class="page_titles">Welcome!</h1>
      <form action='/add_pokemon' method='post'>
        <input id="user_id" name="user_id" type="hidden" value="{{ user.getId }}">
        <label for="pokemon_id">Select a pokemon</label>
        <select id='pokemon_id' name='pokemon_id' type='text'>
            {% for pokemon in all_pokemons %}
                <option value="{{ pokemon.getId }}"> {{ pokemon.getName }} </option>
            {% endfor %}
        </select>
        <button type='submit'>Add pokemon</button>
      </form>
          {% if pokemons is not empty %}
            <div class="pokemon-list">
              {% for pokemon in pokemons %}
              <div>
                <a href="/pokemon/{{ pokemon.getId }}">
                  <h3>{{ pokemon.getName }} - {{ pokemon.getDexNumber }}</h3>
                  <div class="pokemon-image"><img src='{{ pokemon.getImagePath }}' class="pokemon_pic"/></div>
                </a>
                  <form action="/delete_pokemon" method="post">
                  <input name="_method" type="hidden" value="delete">
                  <input name="pokemon_id" type="hidden" value="{{ pokemon.getId }}">
                  <input name="user_id" type="hidden" value="{{ user.getId }}">
                  <button type='submit'>x</button></form>
                </a>
              </div>
              {% endfor %}
            </div>
          {% else %}
              <h3>You haven't caught any pokemon yet!</h3>
          {% endif %}
          <form action="/logout" method="post">
            <button type='submit'>Logout</button>
          </form>
    </div>
</body>
